flask
flask-cors
groq
google-genai
langchain
langchain-core
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
rank-bm25
PyMuPDF
pytesseract
Pillow
gunicorn
numpy
pandas
scikit-learn
torch
transformers
openai